<footer>
    <div class="container-fluid">
        <div class="row info-footer">
            <div class="col-xs-12 col-sm-3 ">
                <img src="/assets/images/rappi.png" class="img-responsive">
                <p>Una Empresa hecha con Amor para Ustedes</p>
            </div>
            <div class="hidden-xs col-sm-6 ">
                <h4 class="text-uppercase title">Nuestros Anuncios</h4>
                <p class="text">Subscribete para que te lleguen cada uno de nuestras promociones y nuevos productos.</p>
                <div class="">
                    <div class="sendgrid-subscription-widget"
                         data-token="">
                    </div>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? "http" : "https";
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "sendgrid-subscription-widget-js");</script>
                </div>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <h4 class="text-uppercase title">newsletter</h4>

                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus congue mattis massa, vel
                    dapibus justo.</p>

                <div class="">
                    <div class="sendgrid-subscription-widget"
                         data-token="H9kZUTiUu9OZ83eyjclsJQsrUJjQx0mzl%2Bmsp7BdDQn8H%2B1VrncyLvNxWiwHDS8GBC8WzqpI%2Fb8bVbL7wPyeXQ%3D%3D"></div>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? "http" : "https";
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "sendgrid-subscription-widget-js");</script>
                </div>
                <p class="social-media">
                    <a class="fa fa-twitter fa-2x" href="http://twitter.com/Vozify" aria-hidden="true"></a>
                    <a class="fa fa-facebook fa-2x" href="http://facebook.com/Vozify" aria-hidden="true"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-3 ">
                <h4 class="text-uppercase">Contactos</h4>
                <p class="">+56 9 9050 5908</p>
                <p class="">inforappi@rappi.com</p>
                <p class="social-media">
                    <a class="fa fa-twitter fa-2x" href="http://twitter.com/" aria-hidden="true"></a>
                    <a class="fa fa-facebook fa-2x" href="http://facebook.com/" aria-hidden="true"></a>
                    <a class="fa fa-instagram fa-2x" href="http://instagram.com/" aria-hidden="true"></a>
                </p>
            </div>
        </div>
        <div class="copyright text-center">
            <p class="copyright">Copyright &copy; 2016. All Rights Reserved.</p>
        </div>
    </div>
</footer>
